{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "printWidth": 180,
  "proseWrap": "never",
  "arrowParens": "avoid",
  "bracketSpacing": true
}
